<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css">
    <title>Dashboard Login</title>
  </head>
  <body>
    <img height="120" src="/images/joypixels/<%= main %>.png">
    <% for (var i = 0; i < story.length; i++) { %>
        <img height="90" src="/images/joypixels/<%= story[i] %>.png">
    <% } %>
  </body>
</html>